body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    background-image: url(./image/photo-1617527019968-052733f9cfe8.avif);
}
main{
    width: 100vw;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    width: 80%;
    height: 90%;
    background-color: rgba(110, 119, 92, 0.466);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box;
}

.game{
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 2px 2px 1px white ;
    width: 35%;
    height: 60%;
}

.game>span{
    font-size: 2rem;
    margin-left: 0.5rem;
}

div>button{
    padding: 1rem 1rem;
    border-radius: 5px;
    border: none;
    background-color: green;
    color: white;
}
div>button:active{
    background-color: blue;
}
h6{
    text-align: center;
    font-size: 2.1rem;
    margin-top: 0;
}
h1{
    color: white;
    text-align: center;
    margin: 0%;
    padding: 0%;
    font-size: 3rem;
}